
@import '~bootstrap/scss/functions';
@import 'vars';

body{
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none !important;
}

*{
    box-sizing: border-box;

    &:focus{
        outline: none;
    }
}

.lie{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@for $i from 0 through 10{
    @each $s in ((l, left), (r, right), (t, top), (b, bottom)){
        .p#{nth($s, 1)}-#{$i}{
          padding-#{nth($s, 2)}: $i * 0.25rem !important;
        }
        .m#{nth($s, 1)}-#{$i}{
            margin-#{nth($s, 2)}: $i * 0.25rem !important;
        }
    }
    .p-#{$i}{
        padding: $i * 0.25rem !important;
    }

    .m-#{$i}{
        margin: $i * 0.25rem !important;
    }
}

@each $i in ((0, 0%), (25, 25%), (50, 50%), (100, 100%), ('h-0', 0vh), ('h-25', 25vh), ('h-50', 50vh), ('h-75', 75vh), ('h-100', 100vh), ('w-0', 0vw), ('w-25', 25vw), ('w-50', 50vw), ('w-75', 75vw), ('w-100', 100vw), (inherit, inherit), (auto, auto)){
    .h-f-#{nth($i, 1)}{
        height: nth($i, 2);
    }    
    .h-m-#{nth($i, 1)}{
        min-height: nth($i, 2);
    }
    .h-max-#{nth($i, 1)}{
        max-height: nth($i, 2);
    }
    .w-f-#{nth($i, 1)}{
        width: nth($i, 2);
    }
    .w-m-#{nth($i, 1)}{
        min-width: nth($i, 2);
    }
    .w-max-#{nth($i, 1)}{
        max-width: nth($i, 2);
    }
}

.block{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media only screen and (min-width: $lg){
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

#hani, .hani{
}



#application, .application{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    letter-spacing: 1px;


    background: $black;
    color: $white;

    .toolbar, #toolbar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 90;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom: 1px solid rgba($white, 0.1);
        box-shadow: 0 0 80px 1px rgba($white, 0.1);
        animation-name: toolbarnimation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transition: border-radius $transition, background-color $transition;

        &.scrolled{
            border-radius: 0;
            background-color: rgba($black, 0.9);
        }

        @keyframes toolbarnimation {
            0%{
                box-shadow: 0 0 80px 1px rgba($white, 0.1);
            }
            25%{
                box-shadow: 10px 0 60px 10px rgba($white, 0.05);
            }
            50%{
                box-shadow: -10px 0 60px 1px rgba($white, 0.1);
            }
            100%{
                box-shadow: 0 0 80px 1px rgba($white, 0.1);
            }
        }

        &-wrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            $toolbarHeight: 60px !global;
            height: $toolbarHeight;
            transition: height $transition;

            &.scrolled{
                height: $toolbarHeight / 1.2;
            }
        }

        &-logo{
            background: transparent;
            color: inherit;
            border: 0;
            padding: inherit;
            display: flex;
            flex-direction: row;
            align-items: center;
            &-img{
                height: $toolbarHeight / 1.5;
            }

            &-text{
                letter-spacing: 2px;
                font-family: Bangers, cursive;
                font-size: 24px;
                text-transform: capitalize;
            }
        }

        &-navigation, .navigation{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 10px;
            text-transform: capitalize;

            &-items{
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &-item{
                position: relative;
                margin: 0 2px;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 5px;
                transition: background-color $transition;

                &.scrolled .navigation-item-link{
                    // padding: 5px !important;
                }

                &-link{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    text-align: left;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 12px;
                    font-family: 'Oswald', sans-serif;
                    font-weight: inherit;
                    color: inherit;
                    background: transparent;
                    padding: 10px 5px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    transition: padding $transition;
                }

                &-drop{
                    background-color: transparent;
                    border: 0;
                    color: inherit;
                    font-size: inherit;
                    padding: inherit;
                    cursor: pointer;
                    padding: 10px 5px;

                    .fa{
                        transition: $transition;
                    }

                    &.dropped{
                        .fa{
                            transform: rotate(-180deg);
                        }
                    }
                }

                &.active{
                    background-color: $white;
                    color: $dark;
                }

                &:hover{
                    @extend .active;
                }
            }

            &-sub-menu{
                color: $white;
                position: absolute;
                top: ($toolbarHeight / 1.5) - 5px;
                background-color: rgba($black, 0.7);
                left: -2px;
                width: 150%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                .navigation-item{
                    &-link{
                        display: block;
                        width: 100%;
                    }
                }
            }


            &-language{
                
            }

        }
    }

    &.scrolled{
        .toolbar{
            @extend .scrolled;

            &-wrap{
                @extend .scrolled;
            }

            &-navigation, .navigation{
                &-item{
                    @extend .scrolled;
                }
            }
        }
        .page{
            padding-top: $toolbarHeight / 1.2;
        }
    }
    
    .page{
        padding-top: $toolbarHeight;
        transition: padding-top $transition;
        &.fh{
            padding-top: 0 !important;
        }
    }
    
}