
@import '~bootstrap/scss/functions';
@import 'vars';

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

a{
    text-decoration: none !important;
}

*{
    box-sizing: border-box;

    &:focus{
        outline: none;
    }
}

.lie{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@for $i from 0 through 10{
    @each $s in ((l, left), (r, right), (t, top), (b, bottom)){
        .p#{nth($s, 1)}-#{$i}{
          padding-#{nth($s, 2)}: $i * 0.25rem !important;
        }
        .m#{nth($s, 1)}-#{$i}{
            margin-#{nth($s, 2)}: $i * 0.25rem !important;
        }
    }
    .p-#{$i}{
        padding: $i * 0.25rem !important;
    }

    .m-#{$i}{
        margin: $i * 0.25rem !important;
    }
}

@each $i in ((0, 0%), (25, 25%), (50, 50%), (100, 100%), ('h-0', 0vh), ('h-25', 25vh), ('h-50', 50vh), ('h-75', 75vh), ('h-100', 100vh), ('w-0', 0vw), ('w-25', 25vw), ('w-50', 50vw), ('w-75', 75vw), ('w-100', 100vw), (inherit, inherit), (auto, auto)){
    .h-f-#{nth($i, 1)}{
        height: nth($i, 2);
    }    
    .h-m-#{nth($i, 1)}{
        min-height: nth($i, 2);
    }
    .h-max-#{nth($i, 1)}{
        max-height: nth($i, 2);
    }
    .w-f-#{nth($i, 1)}{
        width: nth($i, 2);
    }
    .w-m-#{nth($i, 1)}{
        min-width: nth($i, 2);
    }
    .w-max-#{nth($i, 1)}{
        max-width: nth($i, 2);
    }
}

.block{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media only screen and (min-width: $lg){
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}


#hani-header, .hani-header{
    
}

#hani, .hani{
    &-header {
        transition: $transition;
        $headerHeight: 70px !global;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $headerHeight;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 90;

        &.scrolled{
            background: $white;
            box-shadow: 0 0 53px 1px rgba($black, 0.1);
        }

        &-menu{
            @media only screen and (max-width: $md){
                display: none !important;
            }
        }

        &-right, &-left{
            padding-left: 10px;
            padding-right: 10px;
        }
        
        &-sidebar-trigger{
            cursor: pointer;
            @media only screen and (min-width: $md){
                display: none;
            }
        }
        
        &-content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    
        &-logo{
        }
    
        &-menu{
            display: flex;
            flex-direction: row;
            align-items: center;
    
            &-item{
                text-transform: capitalize;
                margin: 0 10px;
                font-size: 12px;
                position: relative;
    
                &.active > &-link{
                    border-color: $primary;
                    padding-right: 100px;
                    color: $primary;
                    font-weight: bold;
                }

                &.active > &-dropper{
                    opacity: 1;
                    color: $primary;
                }

                &-dropper{
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: auto;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 20px;

                    font-size: 16px;
                    z-index: 1;
                    border: 0;
                    background: transparent;
                    color: inherit;
                    cursor: pointer;
                    opacity: 0;
                    transition: $transition-base;;
                }


                &-link{
                    padding: 5px 10px;
                    color: rgba($dark, 0.9);
                    border: 0;
                    font-size: inherit;
                    font-weight: inherit;
                    text-transform: inherit;
                    border-bottom: 2px solid transparent;
                    transition: $transition;
                    text-align: left;
                    cursor: pointer;
                    background-color: transparent;
    
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }

        &-menu-item.active.dropped > &-sub-menu{
            max-height: 100vh;
            opacity: 1;;
            overflow: visible;
            padding: 5px 0;
            border: 1px solid rgba($primary, 0.3);
        }


        &-menu-item-dropper span{
            transition: $transition !important;
        }
        
        &-menu-item.active.dropped > &-menu-item-dropper span{
            transform: rotate(-180deg);
        }

        &-sub-menu{
            position: absolute;
            left: 0;
            right: 0;
            top: 25px;
            max-height: 0;
            overflow: hidden;
            background-color: $white;
            border: 1px solid transparent;
            transition: $transition;
            opacity: 0;;

            &-item{

                &.active > &-link{
                    color: $primary;
                }
                
                &-link{
                    display: block;
                    padding: 10px 10px;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
    &-sidebar{
        background-color: $light;
        &-wrap{
            background-color: rgba($light, 0.97);
            height: inherit;
        }
        background-image: url(https://www.setaswall.com/wp-content/uploads/2017/12/Computer-Tech-Wallpaper-31-1600x1066.jpg);
        @extend .lie;
        @media only screen and (min-width: $md){
            display: none;
        }
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 100;
        color: rgba($dark, 0.9);
        &-header{
            background: $primary;
            color: $light;
            height: $headerHeight / 1.5;;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0 0 8px 1px rgba($black, 0.3);
            
            &-wrap{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-creditionals{
            font-size: 12px;
            text-transform: capitalize;
        }
        .social-networks{
            display: flex;
            flex-direction: row;
            align-items: center;

            &-item{
                margin: 5px;

                >a{
                    color: inherit;
                }
            }
        }

        .hani-header{
            &-menu{
                display: block !important;
                &-item{
                    @extend .hani-header-menu-item;

                    &.dropped{

                        .hani-header-menu-item-dropper{
                            top: 36px;
                            right: 1px;
                            bottom: 1px;
                        }

                        .hani-header-sub-menu{

                            max-height: 100vh;
                            opacity: 1;;
                            overflow: visible;
                            padding: 5px 0;
                            border: 1px solid rgba($primary, 0.3);
                        }
                        .hani-header-menu-item-dropper{
                            background: $white;
                            span{
                                transform: rotate(-180deg);
                            }
                        }
                    }

                    &-dropper{
                        margin: 0 !important;
                        padding-bottom: 0;
                        padding-top: 0;
                        pointer-events: all;
                        z-index: 10;
                        opacity: 1;;
                    }
                    &-link{
                        @extend .hani-header-menu-item-link;
                        padding: 10px;
                        width: 100%;
                        display: block;
                    }
                }
            }
            // &-menu-item-dropper{
                // height: 30px;
                // margin: 0 ;
            // }
            &-sub-menu{
                @extend .hani-header-sub-menu;
                position: initial !important;
                top: 0;
    
                &-item{
                    @extend .hani-header-sub-menu-item;
                    
                    &-link{
                        @extend .hani-header-sub-menu-item-link;
                    }
                }
            }
        }
    }
}



#application, .application{
    background-color: $white;
    color: $dark;
    height: 100vh;
    overflow-y: scroll;
    .page{
        transition: padding-top $transition;
        padding-top: $headerHeight;
    }
    
    &.scrolled{
        .hani-header{
            @extend .scrolled;
            height: $headerHeight / 1.5;
        }       
        .page{
            padding-top: $headerHeight / 1.5;
        }
    }
}

.contact{
    padding-top: 0 !important;
    .frames{

        &.moved{
            .frame.first{
                animation-name: pagePartUp;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
        }
        
        .frame{
            &.first{
                @media only screen and (max-width: $md){
                    background: none !important;
                }
            }
            height: 100vh;
            @extend .lie;
            background-size: 50%;
            background-position: center right;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &-title{
        font-size: 62px;
        @media only screen and (max-width: $md){
            font-size: 52px;
        }
        font-weight: bold;
        color: $dark;
        text-transform: capitalize;
        font-family: 'Open sans', sans-serif;
    }

    &-description{
        font-size: 12px;
        font-family: 'Raleway Sans', sans-serif;
        text-transform: capitalize;
        color: rgba($dark, 0.6);
        @extend .mt-5, .mb-5;
    }

    &-more{
        display: flex;
        flex-direction: row;
        align-items: center;

        &-btn{
            border-radius: 40px;
            border: 0;
            color: $primary;
            font-weight: bold;
            text-transform: capitalize;
            background: transparent;
            @extend .pt-3, .pb-3, .pl-5, .pr-5;
            cursor: pointer;
            box-shadow: 0 0 10px 5px rgba($primary, 0.1);
        }
    }
}